{% extends 'blog/base.html' %}


{% block content %}
<main class="container mt-5">
<div class="row g-5">
    <div class="col-md-8">
      

      <article class="blog-post">
        <img class="w-100" src="{{post.image.url}}" style="border-radius:20px; margin-bottom: 20px;"  alt="blog image"  >
        <h2 class="blog-post-title">{{post.title}} </h2>
        <p class="blog-post-meta">{{post.created_on}} by <a href="#">{{post.author}}</a><br>
         Updated on : {{post.updated_on}}</p>

        {{post.content|safe}}
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">
            Hello, My name is Asif I am a web developer. I am currently working on a blog website. 
            I am using Django framework for backend and Bootstrap for frontend. I am using sqlite3 for database. I am using VS Code as my IDE. I am using Git for version control. I am using Github for hosting my code. I am using pythonanywhere for hosting my website.
            
          </p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
          {% regroup all_posts by created_on.year as year_list %}

    <ul>
    {% for year in year_list %}
        <li>{{ year.grouper }}
            {% regroup year.list by created_on.month as month_list %}
            <ul>
            {% for month in month_list %}
                <li><a href="{% url 'blog_archive' year.grouper month.grouper %}" >{{ month.list.0.created_on|date:'b' }} ({{ month.list|length }})</a></li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock content%}